@font-face {
    font-family: 'Jost';
    src: url(fonts/Jost/Jost-VariableFont_wght.ttf);
}
html{
    scroll-behavior: smooth;
}
.container {
    width: 1140px;
    height: 87;
    margin: 0 auto;
    padding-left: 490px;
    padding-right: 490px;
}

body{
    background-color:#FCF5FF;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CAA8F6;
    font-family: 'Jost';
    font-size: 24px;
    position:fixed;
    
}
a{
    margin-left: 81px;
    text-decoration: none;
    color: black;
}
a:hover{
    color: #674593;
}
#cover {
    height: 776px;
    display: flex;
    align-items: center;
    background-image: url(images/cover\ bg.png);
    background-size: cover;
    font-family: 'Jost';
    font-size: 38px;
    margin-bottom: 134px;
}
h2{
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 0;
}
p{
    margin: auto 5;
}


.about-us-content{

    display: flex;
    font-family: 'Jost';
    font-size: 24px;
    background-color: rgba(151, 71, 255, 17%);  
}
#about-us-text-light{
    font-weight:200;
    margin-top: 10;
}
#about-us-text{
    margin: 10px;

}

h1{
    font-weight: normal;
    font-size: 60px;
}
#logo{
    padding: 5px;
}

button{
    width: 289px;
    height: 57px;
    background-color: #9842E3;
    color: white;
    border-radius: 15px 15px;
    font-family: 'Jost';
    font-size: 24px;
    padding: 0;
    border: none;

}


button:hover{
    width: 289px;
    height: 57px;
    background-color: #BC8EE5;
    color: white;
    border-radius: 15px 15px;  
}