@font-face {
    font-family: 'Jost';
    src: url(fonts/Jost/Jost-VariableFont_wght.ttf);
}
html{
    scroll-behavior: smooth;
}
.container {
    width: 1140px;
    margin: 0 auto;
    padding-left: 490px;
    padding-right: 490px;
}

body{
    background-color:#FCF5FF;
    margin: 0 auto;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CAA8F6;
    font-family: 'Jost';
    font-size: 24px;
    position:fixed;

}
a.nav-text{
    text-decoration: none;
}

a{
    margin-left: 81px;

    color: black;
}
a:hover{
    color: #674593;
}
#cover {
    height: 776px;
    display: flex;
    align-items: center;
    background-image: url(images/cover\ bg.png);
    background-position: 0px 24px;
    background-size: cover;
    font-family: 'Jost';
    font-size: 38px;
    padding-top: 100px;
    margin-bottom: 46px;
}

.cover-content>p{
    margin-top: 15px;
}

h2{
    font-size: 48px;
    font-weight: normal;
    margin-bottom: -15px;
}
#about-us{
    padding-top: 88px;
}
.about-us-content{
    display: flex;
    font-family: 'Jost';
    font-size: 24px;
    background-color: rgba(151, 71, 255, 17%); 
    height: 413px; 
}
#about-us-text-light{
    font-weight:250;
}
.about-us-text{
    margin-top: -30px;
}

h1{
    font-weight: normal;
    font-size: 60px;
    margin: 0;
}
h3{
    font-weight: 330;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;

}
#price{
    font-weight: 420;
    margin-left: 21px;
    padding-right: -20px;
    margin-top: 30px;
}
#price1{
    font-weight: 420;
    margin-left: 50px;
    padding-right: -20px;
    margin-top: 30px;
}
#price2{
    font-weight: 420;
    margin-left: 70px;
    padding-right: -20px;
    margin-top: 30px;
}
.bold-heading{
    font-weight: 550;
}

.bold-text{
    font-weight: 450;
}
#logo{
    padding: 5px;
}

button{
    width: 289px;
    height: 57px;
    background-color: #9842E3;
    color: white;
    border-radius: 15px 15px;
    font-family: 'Jost';
    font-size: 24px;
    padding: 0;
    border: none;
}

button.course-btn{
    width: 364px;
}
button.course-btn:hover{
    width: 364px;
}

button:hover{
    width: 289px;
    height: 57px;
    background-color: #BC8EE5;
    color: white;
    border-radius: 15px 15px;  
}


#catalog{
    font-family: 'Jost';
    padding-top: 70px;
    display: flex;
    align-items: center;
}


.card-img{
    background-color: #CAA8F6;
    height: 463px;
}
.cards{
    display: flex;
    
}

.card{
    width: 366px;
}

.card-description>p{
    margin: 0;
    width: 281px;
}
.course-desc-text>img{
    float: left;  
    margin-bottom: 8px;
    margin-top: 5px;
    margin-right: 8px;
}
#long-margin-marker{
    margin-bottom: 40px;
}
.block-description>p{
    margin-bottom: 45px;
    font-size: 24px;
    font-weight:350;
}

.course-name{
    display: flex;
    margin-top: -15px;
    width: 366px;
}

.course-desc-text{
    font-size: 20px;
    margin-top:-20px;
    margin-bottom: 30px;
    font-weight: 350;
}

.course-desc-text>p{
    margin: 10px;
}

#thrd-card-desc-text{
    margin-bottom: 40px;
}

.mr{
    margin-right: 15px;
}
ul{
    list-style-type: none;
}

.contacts-content{
    margin-top: 72px;
    padding-top: 100px;
    font-family: 'Jost';
    font-size: 24px;
    background-color: rgba(151, 71, 255, 17%);  
    padding-bottom: 200px;
}

.contacts-content>img{
    float: right;
    margin-top: -300px;
    margin-right: 150px;
}

.contacts-text{
    font-weight: 350;
    font-size: 32px;
    margin-left: -60px; 

}

#contacts-heading{
    font-size: 64px;
}